body,
html {
  height: 100%;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .main {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2vh;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15  0px;
  width: 90%;
}
.input input {
  background-color: aqua;
  height: 100%;
  width: 90%;
}
.input button {
  background-color: red;
  width: 10%;
  height: 100%;
  margin-left: 1px;
}
.Content {
  background-color: yellow;
  height: 50%;
  width: 50%;
} */
